.wrapper{
    /* padding: 70px 0;
    height: 500px;
    width: 100%; */
    

}

.counter{
    /* align-items: center;
    padding-top: 656px;
    margin-left: -18px;
    margin: 0 166px;
    background-color: antiquewhite; */
}
.plus{
    /* margin-left: 450px;
    margin-top: -1027px; 
    margin-right: 197px; 
    padding-right: 17px;
    border-radius: 312px;  */

}
.nambers{
    /* margin-top: -334px;
    padding-left: 785px;   */
} 
.minus{

}
.con_s{
    /* margin-left: 786px; */
}
.minus_1{

}